body{
  background-image: url("https://wallpaperscraft.com/image/wooden_solid_dark_brown_9665_3840x2400.jpg");
  margin: 0;
  overflow: hidden;
  background-size: cover;
}

.col img{
  width: 100%;
  display: block;
  margin: 0 auto;
} 

div.row{
  max-height: 140px;
  width: 40%;
  display: inline-block;
}

div.container{
width: 100%;
text-align: center;
}